<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Proyecto_CECYMATH_2.0</title>
</head>
<body>
    <h1>Bienvenido al core</h1>
    <ul>
        <li><a href="{% url 'M_suma' %}">Abrir Suma</li>
            <li><a href="{% url 'M_resta' %}">Abrir Resta</li>
                <li><a href="{% url 'M_multiplicacion' %}">Abrir Multiplicacion</li>
                    <li><a href="{% url 'M_divicion' %}">Abrir Divicion</li>
                        <li><a href="{% url 'M_gerarquia_de_operaciones' %}">Abrir Gerarquia de operaciones</li>
                            <li><a href="{% url 'M_recta_numerica' %}">Abrir Recta numerica</li>
                                <li><a href="{% url 'M_operaciones_con_polinomios' %}">Abrir Operaciones con polinomios</li>
                                    <li><a href="{% url 'M_Ec.primer_grado' %}">Abrir Ec.primer grado</li>
                                        <li><a href="{% url 'M_Ecsegundogrado_con_formula_general' %}">Abrir Ec.segundo grado con formula general</li>
                                            <li><a href="{% url ' M_factorizacions' %}">Abrir Factorizacion</li>
                                                <li><a href="{% url ' M_calculo_de_area_y_perimetro_de_figuras_planas' %}">Abrir Calculo de area y perimetro de figuras planas</li>
                                
                            
    </ul>
</body>
</html>